src-dms/SimDms.Common/Web References/TransOutService.cs/TransOutService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SdmsWcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SdmsWcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOmTransferOut">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OmTransferOut" nillable="true" type="tns:OmTransferOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOmTransferOut" nillable="true" type="tns:ArrayOfOmTransferOut" />
  <xs:complexType name="OmTransferOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchToDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferOutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferOutNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseToDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OmTransferOut" nillable="true" type="tns:OmTransferOut" />
  <xs:complexType name="ArrayOfSalesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesModel" nillable="true" type="tns:SalesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesModel" nillable="true" type="tns:ArrayOfSalesModel" />
  <xs:complexType name="SalesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EngineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesModelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesModelDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesModel" nillable="true" type="tns:SalesModel" />
  <xs:complexType name="ArrayOfSalesModelYear">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesModelYear" nillable="true" type="tns:SalesModelYear" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesModelYear" nillable="true" type="tns:ArrayOfSalesModelYear" />
  <xs:complexType name="SalesModelYear">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChassisCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalesModelDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesModelYear" nillable="true" type="tns:SalesModelYear" />
  <xs:complexType name="ArrayOfSalesVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesVehicle" nillable="true" type="tns:SalesVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesVehicle" nillable="true" type="tns:ArrayOfSalesVehicle" />
  <xs:complexType name="SalesVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="COGSKaroseri" type="xs:decimal" />
      <xs:element minOccurs="0" name="COGSOther" type="xs:decimal" />
      <xs:element minOccurs="0" name="COGSUnit" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChassisCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChassisNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ColourCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColourName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="SuzukiDODate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SuzukiDONo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuzukiSJDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SuzukiSJNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesVehicle" nillable="true" type="tns:SalesVehicle" />
  <xs:complexType name="ArrayOfCompanyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyAccount" nillable="true" type="tns:CompanyAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyAccount" nillable="true" type="tns:ArrayOfCompanyAccount" />
  <xs:complexType name="CompanyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccInterCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccInterCompanyDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchToDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyToDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseToDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyAccount" nillable="true" type="tns:CompanyAccount" />
  <xs:complexType name="ArrayOfOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organization" nillable="true" type="tns:Organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganization" nillable="true" type="tns:ArrayOfOrganization" />
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="ArrayOfRefference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Refference" nillable="true" type="tns:Refference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefference" nillable="true" type="tns:ArrayOfRefference" />
  <xs:complexType name="Refference">
    <xs:sequence>
      <xs:element minOccurs="0" name="RefferenceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefferenceDesc1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Refference" nillable="true" type="tns:Refference" />
  <xs:complexType name="ArrayOfLookUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookUp" nillable="true" type="tns:LookUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookUp" nillable="true" type="tns:ArrayOfLookUp" />
  <xs:complexType name="LookUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="LookupValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LookupValueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookUp" nillable="true" type="tns:LookUp" />
</xs:schema>