src-dms/SimDms.Common/Service References/DcsWs/DcsWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendToDcs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProdType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToDcsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendToDcsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveDownloadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDownloadDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByLastID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByLastIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDownloadByLastIDResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveUploadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveUploadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveUploadDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveUploadDataV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveUploadDataV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveUploadDataV2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUploadDataStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUploadDataStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUploadDataStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDownloadDataStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDownloadDataStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDownloadDataStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByDataID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByDataIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDownloadByDataIDResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByRangeDataID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="toID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDownloadByRangeDataIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDownloadByRangeDataIDResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValid">
        <s:complexType />
      </s:element>
      <s:element name="IsValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDcsDownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDcsDownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDcsDownloadFileResult" type="tns:ArrayOfDcsDownloadFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDcsDownloadFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DcsDownloadFile" nillable="true" type="tns:DcsDownloadFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DcsDownloadFile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendToDcsSoapIn">
    <wsdl:part name="parameters" element="tns:SendToDcs" />
  </wsdl:message>
  <wsdl:message name="SendToDcsSoapOut">
    <wsdl:part name="parameters" element="tns:SendToDcsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveData" />
  </wsdl:message>
  <wsdl:message name="RetrieveDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadData" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByLastIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByLastID" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByLastIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByLastIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveUploadDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveUploadData" />
  </wsdl:message>
  <wsdl:message name="RetrieveUploadDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveUploadDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveUploadDataV2SoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveUploadDataV2" />
  </wsdl:message>
  <wsdl:message name="RetrieveUploadDataV2SoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveUploadDataV2Response" />
  </wsdl:message>
  <wsdl:message name="UpdateUploadDataStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUploadDataStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateUploadDataStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUploadDataStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDownloadDataStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDownloadDataStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateDownloadDataStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDownloadDataStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByDataIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByDataID" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByDataIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByDataIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByRangeDataIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByRangeDataID" />
  </wsdl:message>
  <wsdl:message name="RetrieveDownloadByRangeDataIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDownloadByRangeDataIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IsValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDcsDownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDcsDownloadFile" />
  </wsdl:message>
  <wsdl:message name="RetrieveDcsDownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDcsDownloadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="DcsWsSoap">
    <wsdl:operation name="SendToDcs">
      <wsdl:input message="tns:SendToDcsSoapIn" />
      <wsdl:output message="tns:SendToDcsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <wsdl:input message="tns:RetrieveDataSoapIn" />
      <wsdl:output message="tns:RetrieveDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadData">
      <wsdl:input message="tns:RetrieveDownloadDataSoapIn" />
      <wsdl:output message="tns:RetrieveDownloadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByLastID">
      <wsdl:input message="tns:RetrieveDownloadByLastIDSoapIn" />
      <wsdl:output message="tns:RetrieveDownloadByLastIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadData">
      <wsdl:input message="tns:RetrieveUploadDataSoapIn" />
      <wsdl:output message="tns:RetrieveUploadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadDataV2">
      <wsdl:input message="tns:RetrieveUploadDataV2SoapIn" />
      <wsdl:output message="tns:RetrieveUploadDataV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUploadDataStatus">
      <wsdl:input message="tns:UpdateUploadDataStatusSoapIn" />
      <wsdl:output message="tns:UpdateUploadDataStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadDataStatus">
      <wsdl:input message="tns:UpdateDownloadDataStatusSoapIn" />
      <wsdl:output message="tns:UpdateDownloadDataStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByDataID">
      <wsdl:input message="tns:RetrieveDownloadByDataIDSoapIn" />
      <wsdl:output message="tns:RetrieveDownloadByDataIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByRangeDataID">
      <wsdl:input message="tns:RetrieveDownloadByRangeDataIDSoapIn" />
      <wsdl:output message="tns:RetrieveDownloadByRangeDataIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <wsdl:input message="tns:IsValidSoapIn" />
      <wsdl:output message="tns:IsValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDcsDownloadFile">
      <wsdl:input message="tns:RetrieveDcsDownloadFileSoapIn" />
      <wsdl:output message="tns:RetrieveDcsDownloadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcsWsSoap" type="tns:DcsWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToDcs">
      <soap:operation soapAction="http://tempuri.org/SendToDcs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <soap:operation soapAction="http://tempuri.org/RetrieveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadData">
      <soap:operation soapAction="http://tempuri.org/RetrieveDownloadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByLastID">
      <soap:operation soapAction="http://tempuri.org/RetrieveDownloadByLastID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadData">
      <soap:operation soapAction="http://tempuri.org/RetrieveUploadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadDataV2">
      <soap:operation soapAction="http://tempuri.org/RetrieveUploadDataV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUploadDataStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateUploadDataStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadDataStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateDownloadDataStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByDataID">
      <soap:operation soapAction="http://tempuri.org/RetrieveDownloadByDataID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByRangeDataID">
      <soap:operation soapAction="http://tempuri.org/RetrieveDownloadByRangeDataID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDcsDownloadFile">
      <soap:operation soapAction="http://tempuri.org/RetrieveDcsDownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DcsWsSoap12" type="tns:DcsWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToDcs">
      <soap12:operation soapAction="http://tempuri.org/SendToDcs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <soap12:operation soapAction="http://tempuri.org/RetrieveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadData">
      <soap12:operation soapAction="http://tempuri.org/RetrieveDownloadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByLastID">
      <soap12:operation soapAction="http://tempuri.org/RetrieveDownloadByLastID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadData">
      <soap12:operation soapAction="http://tempuri.org/RetrieveUploadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUploadDataV2">
      <soap12:operation soapAction="http://tempuri.org/RetrieveUploadDataV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUploadDataStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateUploadDataStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadDataStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateDownloadDataStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByDataID">
      <soap12:operation soapAction="http://tempuri.org/RetrieveDownloadByDataID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDownloadByRangeDataID">
      <soap12:operation soapAction="http://tempuri.org/RetrieveDownloadByRangeDataID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <soap12:operation soapAction="http://tempuri.org/IsValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDcsDownloadFile">
      <soap12:operation soapAction="http://tempuri.org/RetrieveDcsDownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcsWs">
    <wsdl:port name="DcsWsSoap" binding="tns:DcsWsSoap">
      <soap:address location="http://tbdcsap02/DmsDcsLive/DcsWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>